@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here is an extremely simple program showing I can understand and edit the basics of Net.Core frameworks.</p>
    <br /><br />
    @{DateTime date = DateTime.Now;}
    <h2 class="display-2 text-center">The current date and time is @date.</h2>


</div>
